body {
    font-family: Arial, sans-serif;
    background-color: #b4d9e2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  select, input[type="radio"], input[type="checkbox"] {
    margin-bottom: 15px;
  }
  
  button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ea091c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #f07361;
  }
  
  #output {
    margin-top: 20px;
    font-weight: bold;
  }
  